.App {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.bg {
  min-height: 100%;
  width: 800px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1);
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 60px 2px;
}
